/* styles.css */
#card {
  width: 13vw
}

#content h1 {
  font-size: 4em;
}

#content h2 {
  font-size: 3em;
}

.ant-typography a {
  color: #006EF5;
  text-decoration: underline; 
}

.ant-layout-content .ant-btn, .ant-modal-confirm-content .ant-btn-primary {
  background-color: #006EF5;
}

.ant-btn[disabled], .ant-btn:disabled {
  background-color: #cccccc; 
  color: #999999; 
  border-color: #999999;
}

#btn_gu {
  background-color: #526B75; 
}

@media screen and (max-width: 768px) {

    .ant-modal-content {
      width: 101vw;
    }

    .ant-table {
      width: 95vw;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ant-space {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ant-radio-button-wrapper {
      margin-bottom: 10px; 
    }

    
    .ant-btn {
      margin-bottom: 10px; 
    }

    #form {
      display: flex;
      flex-direction: column;
    }

    #login_div {
      flex-direction: column;
      align-items: flex-end;
    }

    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #content {
      width: 100vw;
    }

    #card {
      width: 43vw;
    }

    #content h1 {
      font-size: 3em;
    }
    
    #content h2 {
      font-size: 2em;
    }
  }



  
  