/* styles.css */
#card {
  width: 13vw
}

#content h1 {
  font-size: 4em;
}

#content h2 {
  font-size: 3em;
}

.ant-typography a {
  color: #006EF5;
  text-decoration: underline; 
}

.ant-layout-content .ant-btn, .ant-modal-confirm-content .ant-btn-primary {
  background-color: #006EF5;
}

.ant-btn[disabled], .ant-btn:disabled {
  background-color: #cccccc; 
  color: #999999; 
  border-color: #999999;
}

#btn_gu {
  background-color: #526B75; 
}

#card .ant-card-body .ant-statistic .ant-statistic-title {
  color:#526B75;
}


.ant-carousel .slick-prev {
  color: #000000; 
}


.ant-carousel .slick-slide {
  text-align: center;
  height: 23vh; 
  line-height: 1.5; 
  background: #c2ddfa; 
  overflow: hidden; 
  position: relative; 
}

.ant-carousel .slick-slide h3 {
  color: #000000; 
  margin-bottom: 1em; 
}

.ant-carousel .slick-slide p {
  color: #000000; 
  margin-bottom: 1em; 
}

.ant-carousel .slick-slide img {
  max-width: 50%; 
  max-height: 50%;
  display: block; 
  margin: 0 auto; 
}


@media screen and (max-width: 768px) {

    .ant-modal-content {
      width: 101vw;
    }

    .ant-table {
      width: 95vw;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ant-space {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ant-radio-button-wrapper {
      margin-bottom: 10px; 
    }

    
    .ant-btn {
      margin-bottom: 10px; 
    }

    #form {
      display: flex;
      flex-direction: column;
    }

    #login_div {
      flex-direction: column;
      align-items: flex-end;
    }

    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #content {
      width: 100vw;
    }

    #card {
      width: 43vw;
    }

    #content h1 {
      font-size: 3em;
    }
    
    #content h2 {
      font-size: 2em;
    }
  }



  
  